
.mapa{
    width: 100%;
    height: 80%;
}

body {
    background-color: black;
}
.text-center {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 50px;
        color: #136A99;
}
h2 {
    color: #136A99;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 35px;
}
img {
    width: 400px;
    height: 300px;
}
.col-4{
    margin-left: 65%;
    position: absolute;
}
li {
    margin-top: 12px;
    list-style: none;
    text-decoration: none;
}
a {
    color: #FFFFFF;
}

a:link, a:visited {
    font-size: 20px;
    text-decoration: none;

}
a:visited {
    color: #0661A1;
}

a:hover {
    color: #8C00FA;
}

p {
    width: 50%;
    color: #136A99;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.link{
    display: none;
    list-style: none;
}
.mostrar{
    display: flex; 
}
.menu, ul.link.mostrar, .mostrar{
    display: flex; 
}
.menu :hover{
    cursor: pointer;
}
footer {
    margin-left: 5%;
    text-align: center;
    background-color: grey;
}